* {
  font-family: Poppins, sans-serif;
}

:root {
  --color-background: #ffffffc4;
  --stroke-width: calc(1em / 16);
  --font-weight: 600;
  --letter-spacing: calc(1em / 8);
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: white;
}

.card-pack-display {
  margin: 10px;
  width: 14rem;
  text-align: center;
  cursor: pointer;
}

.card-pack-display:hover {
  box-shadow: 0 0 11px rgba(244, 234, 56, 0.5); 
}

#card-pack-likebtn {
  background-color: #d9d9d9; 
  color: rgba(0, 0, 0, 0.747);
  border: 1px solid black;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#card-pack-likebtn-liked {
  background-color: #67ff62; 
  color: rgba(0, 0, 0, 0.747);
  border: 1px solid black;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#card-pack-likebtn:hover {
  background-color: #4df028;
}

#card-pack-likebtn i {
  margin-right: 3px;
}


#card-pack-title {
  font-size: .85rem;
  font-weight: 500;
}

#card-pack-description {
  font-size: .75rem;
  height: 7rem;
}

#card-pack-accessory {
  text-align: left;
  justify-content: end;
  align-items: end;
  margin: 0;
  font-size: 0.8rem;
}

#card-pack-accessory label {
  color: rgb(14, 167, 14);
  font-weight: 550;
}

#create-pack-container {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.795);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem 1rem 1rem;
}

#create-pack-field {
  margin-top: 1rem;
}

#nav-link {
  text-decoration: none;
  color: white;
}

#nav-brand {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
}

label.form-label{
  margin-top: .75rem;
}

#inpack-text {
  color: rgb(0, 0, 0);
}

#inpack-text-title {
  background-clip: text;
  background-image: linear-gradient(to right, #f10909, #e8d01a, #19f45b, #0ffeca);
  color: var(--color-background);
  font-size: 2rem;
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
  margin-bottom: 1rem;
}

.inpack-container {
  margin-top: 1rem;
}

#inpack-comments-container{
  text-align: left;
  background-color: rgba(255, 255, 255, 0.795);
  padding: 0 1rem 1rem 1rem;
}

#inpack-text-comments {
  color: rgb(0, 0, 0);
}

#inpack-text-comments-header {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: .25rem;
  margin-top: .25rem;
}

#inpack-text-comments-add {
  margin-bottom: auto;
}



#inpack-carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  width: 70%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  word-wrap: break-word; /* Ensures long words break and wrap */
  word-break: break-word; /* Ensures long words break and wrap */
  white-space: normal; /* Ensures text wraps to the next line */
}

#inpack-carousel-text p {
  font-size: 1.25rem;
  font-weight: 500;
}

.comment-charcount-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.inpack-text-comment-charcount {
  text-align: right;
}

#inpack-comments-container .pagination {
  align-self: flex-end;
  margin-top: auto;
}

#inpack-text-comments-card{
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  #inpack-comments-container {
    margin-bottom: 1rem;
  }

}

@media (max-width: 768px) {
  #inpack-comments-container {
    margin-top: 1rem;
  }
}

@media (max-width: 426px) {
  #inpack-text-comments-card-text{
    font-size: .9rem;
  }
  #inpack-carousel-text p {
    font-size: 1rem;
  }
}

@media (max-width: 321px) {
  #inpack-comments-container {
    margin-bottom: 1rem;
  }

  #inpack-carousel-text p {
    font-size: 0.9rem;
  }
}

